.container{
  padding: 3rem;
  .boton_prueba{
    background-color: aqua;
    margin: 0 auto;
  }
}
.box{
  height: 10px;
  display: block;
  background-color: purple;
}
.message-error{
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
}
.message-error.active{
  opacity: 1;
}
